In [ ]:
import pandas as pd

In [1]:
data = {
    "nome":["Téo", "Nah", "Maria", "José", "Marina", "Jessica", "InfoSlack"],
    "idade":[30, 33, 2, 45, 65, 43, 40],
    "cor": ["Preto", "Verde", "Azul", "Vermelho", "Amarelo", "Verde", "Azul"],
    "renda": [3566, 1345, 0, 6576, 4325, 5326, 10244]
}
data["idade"]

[30, 33, 2, 45, 65, 43, 40]

In [2]:
df = pd.DataFrame(data)
df.idade

0    30
1    33
2     2
3    45
4    65
5    43
6    40
Name: idade, dtype: int64

In [3]:
df = pd.DataFrame(data)
df["idade"]

0    30
1    33
2     2
3    45
4    65
5    43
6    40
Name: idade, dtype: int64

In [4]:
df.mean(numeric_only=True)

           idade         renda
count   7.000000      7.000000
mean   36.857143   4483.142857
std    19.073792   3393.390754
min     2.000000      0.000000
25%    31.500000   2455.500000
50%    40.000000   4325.000000
75%    44.000000   5951.000000
max    65.000000  10244.000000